* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.login-form-container {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container form {
  padding: 1.5rem 2rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
    width: 100%;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    margin: .6rem 0;
    border: none;
    outline: none;
    border: .1rem solid rgb(67, 63, 56);
    text-transform: none;
}

.login-form-container form .box:focus {
  border-color: orange;
}

.login-form-container form #remember {
    margin: 2rem 0;
}

.login-form-container form label {
    font-size: 1.5rem;
}
.login-form-container form .btn{
    display: block;
    width: 100%;
    background-color: none;
    outline: none;
    border: none;
    background: orange;
    height: 40px;
    font-size: 19px;
    margin-top: 20px;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: #666;
}

.login-form-container form p a{
    color: orange;
    text-decoration: none;
}

.login-form-container form p a:hover{
  color: #333;
  text-decoration: underline;
}


























